.heart-footer {
    color: #FF6B08;
}

.footer {
    background-color: #F7F7F7;
    padding: 47px 0 22px;
    height: 100px;
    box-sizing: content-box;
    font-size: 14px;
    color: #545454;
    text-align: center;
    position: sticky;
}
