.heart-footer {
    color: #FF6B08;
}

.footer {
    background-color: #F7F7F7;
    padding: 61px 0 54px;
    height: 100px;
    box-sizing: content-box;
    font-size: 14px;
    color: #545454;
}
.footer-text{
    display: flex;
    text-align: center;
    
}