/* Styl CSS dla kontenera okładek filmów */
#films-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Aby równomiernie rozłożyć okładki filmów */
}

/* Styl CSS dla obrazków */
#films-container img {
    max-width: 100%;
    /* Zapobieganie wykraczaniu obrazków poza kontener */
    height: auto;
    /* Zapewnienie proporcjonalnego zachowania obrazków */
}

/* Styl CSS dla paginacji */
#pagination {
    margin-top: 20px;
    /* Dodatkowy odstęp między paginacją a kontenerem okładek filmów */
}

.film-tile {
    width: calc(33.33% - 10px);
    /* Szerokość okładki filmu (33.33% - marginesy) */
    margin-bottom: 20px;
    /* Odstęp między okładkami filmów */
}