<main>
  <section class="film-section">
    <div class="films-container">
      <ul class="gallery">
        <li class="movie-block">
          <div class="image">
            <img src="/src/images/test-image.jpeg" alt="film-image" />
          </div>
          <p class="title">*Title*</p>
          <p class="genre">*Genre*</p>
        </li>

        <li class="movie-block">
          <div class="image">
            <img src="/src/images/test-image.jpeg" alt="film-image" />
          </div>
          <p class="title">*Title*</p>
          <p class="genre">*Genre*</p>
        </li>

        <li class="movie-block">
          <div class="image">
            <img src="/src/images/test-image.jpeg" alt="film-image" />
          </div>
          <p class="title">*Title*</p>
          <p class="genre">*Genre*</p>
        </li>
      </ul>
      <button class="back"></button>
      <button class="forward"></button>
    </div>
  </section>
</main>
