<main>
  <section class="film-section">
    <div class="films-container">
      <ul class="gallery">
        <li class="first-mb movie-block">
          <div class="image">
            <img src="/src/images/test-image.png" alt="film-image" />
          </div>
          <p class="title">*TITLE*</p>
          <p class="genre">*Genre*</p>
        </li>

        <li class="second-mb movie-block">
          <div class="image">
            <img src="/src/images/test-image.png" alt="film-image" />
          </div>
          <p class="title">*TITLE*</p>
          <p class="genre">*Genre*</p>
        </li>

        <li class="third-mb movie-block">
          <div class="image">
            <img src="/src/images/test-image.png" alt="film-image" />
          </div>
          <p class="title">*TITLE*</p>
          <p class="genre">*Genre*</p>
        </li>
      </ul>

      <ul class="second-g gallery">
        <li class="first-mb movie-block">
          <div class="image">
            <img src="/src/images/test-image.png" alt="film-image" />
          </div>
          <p class="title">*TITLE*</p>
          <p class="genre">*Genre*</p>
        </li>

        <li class="second-mb movie-block">
          <div class="image">
            <img src="/src/images/test-image.png" alt="film-image" />
          </div>
          <p class="title">*TITLE*</p>
          <p class="genre">*Genre*</p>
        </li>

        <li class="third-mb movie-block">
          <div class="image">
            <img src="/src/images/test-image.png" alt="film-image" />
          </div>
          <p class="title">*TITLE*</p>
          <p class="genre">*Genre*</p>
        </li>
      </ul>
      <button class="back"></button>
      <button class="forward"></button>
    </div>
  </section>
</main>
