<div data-modal class="backdrop is-hidden modal">
  <div class="modal-header">
    <button type="button" class="close-button" modal-close>
      <!-- <svg width="14" height="14" class="icon-x">
        <use href=""></use>
      </svg> -->
    </button>
  </div>
  <div class="modal-content">
    <div class="modal-image">
      <img alt="film-image" />
    </div>
    <div class="modal-film-details">
      <h1 class="modal-film-title"></h1>
      <div class="modal-film-features">
        <ul class="modal-film-titles-list list">
          <li class="modal-film-titles-item">Vote / Votes</li>
          <li class="modal-film-titles-item">Popularity</li>
          <li class="modal-film-titles-item">Original Title</li>
          <li class="modal-film-titles-item">Genre</li>
        </ul>
        <ul class="modal-film-features-list"></ul>
      </div>
      <div class="modal-film-about-section">
        <h3>ABOUT</h3>
        <p></p>
      </div>
    </div>
    <div class="modal-film-buttons-section">
      <button type="button" class="watched-btn"></button>
      <button type="button" class="queue-btn"></button>
    </div>
  </div>
</div>
