<div data-modal class="backdrop is-hidden modal-film">
  <div class="modal-film-header">
    <button type="button" class="close-btn" modal-close>
      <svg width="30" height="30" class="icon-x">
        <use href="./images/icons.svg#icon-x"></use>
      </svg>
    </button>
  </div>
  <div class="modal-film-content">
    <div class="modal-image">
      <img src="#" width="300px" alt="film-image" />
    </div>
    <div class="modal-film-details">
      <h1 class="modal-film-title">GREYHOUND</h1>
      <div class="modal-film-features">
        <ul class="modal-film-titles-list list">
          <li class="modal-film-titles-item">
            <div class="modal-votes">Vote / Votes</div>
          </li>
          <li class="modal-film-titles-item">
            <div class="modal-popularity">Popularity</div>
          </li>
          <li class="modal-film-titles-item">
            <div class="modal-original-title">Original Title</div>
          </li>
          <li class="modal-film-titles-item">
            <div class="modal-genre">Genre</div>
          </li>
        </ul>
        <ul class="modal-film-features-list list">
          <li>
            <div class="modal-vote-data">
              <span class="vote-data"></span> / <span class="votes-data"></span>
            </div>
          </li>
          <li><div class="modal-popularity-data"></div></li>
          <li><div class="modal-original-title-data"></div></li>
          <li><div class="modal-genre-data"></div></li>
        </ul>
      </div>
      <div class="modal-film-about-section">
        <h2 class="about-title">ABOUT</h2>
        <p class="about-title-data"></p>
      </div>
    </div>
    <div class="modal-film-buttons-section">
      <button type="button" class="add-film-btn">ADD TO WATCHED</button>
      <button type="button" class="add-film-btn">ADD TO QUEUE</button>
    </div>
  </div>
</div>
