<div data-students-modal class="students-backdrop is-hidden students-modal">
  <div>
    <button type="button" class="close-btn" students-modal-close>
      <svg class="icon-x">
        <use href="./images/icons.svg#icon-x"></use>
      </svg>
    </button>
  </div>
  <div class="students-modal-content">
    <ul class="students-modal-list">
      <li class="students-modal-list-item">
        <img src="/src/images/Marta.jpg" alt="Marta Szymanska" />
        <div>
          <h3>Marta Szymańska</h3>
          <p>
            Z zawodu analityk finansowy. Poszukuje alternatywnej ścieżki rozwoju
            zawodowego. Prywatnie interesuje się muzyką (absolwentka Autorskiej
            Szkoły Muzyki Rozrywkowej i Jazzu). W wolnym czasie lubi jeździć na
            rowerze, żeglować i chodzić po górach. W projekcie objęła funkcję
            Team Leadera oraz była odpowiedzialna za stworzenie modala.
          </p>
        </div>
      </li>
      <li>
        <img src="/src/images/Andrzej Borzym jr.jpg" alt="Andrzej Borzym" />
        <div>
          <h3>Andrzej Borzym jr</h3>
          <p>
            Zawodowo dyrygent i kompozytor, prywatnie pasjonat gromadki swoich
            dzieci, podróży (zwłaszcza motocyklowych), gotowania, a od niedawna
            także kodowania. W projekcie zajął się implementacja pobierania
            danych z API.
          </p>
        </div>
      </li>
      <li>
        <img src="/src/images/Mateusz.jpg" alt="Mateusz Baryla" />
        <div>
          <h3>Mateusz Baryła</h3>
          <p>
            W wolnych chwilach lubi upiec przepyszną pizzę. Interesuje się także
            programowaniem.
          </p>
        </div>
      </li>
      <li>
        <img src="/src/images/Seweryn.png" alt="Seweryn Stallinger" />
        <div>
          <h3>Seweryn Stallinger</h3>
          <p>
            Uczeń liceum ogólnokształcącego. Tegoroczny maturzysta. Ambitny
            programista. Obecnie pracuje na stacji benzynowej. Kurs
            programowania tak bardzo go zafascynował, że postanowił studiować
            informatykę. Podczas projektu zajął się stylizacją sekcji głównej
            strony oraz implementacją drobnych funkcji w Javascript (loader).
          </p>
        </div>
      </li>
      <li>
        <img />
        <div>
          <h3>Mikołaj Zydorek</h3>
          <p></p>
        </div>
      </li>
    </ul>
  </div>
</div>
